---
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.2"
  overlay_image: /assets/images/header.jpg
  cta_label: "Resources"
  cta_url: "https://github.com/PForet/ML-hack.git"
excerpt: Machine learning, statistics and finance, made easy.
intro:
  - excerpt: "We believe that knowlegde isn't centralized. In the open-source community, each idea, formula or piece of code is an opportunity to learn and discuss. We hope that you will find ours as clear, relevant and innovative as we want them to be."
feature_row:
  - image_path: /assets/images/dev_PCA.png
    title: "PCA in image recognition"
    excerpt: "Visualise how principal components analysis can help to classify images"
    url: /PCA-for-image-classification/
    btn_label: "Learn"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
