---
layout: splash
header:
  overlay_image: /assets/images/head/head2.png
excerpt: Fuzzy theorems and unchecked claims for fearless data scientists
feature_row_1:
  - image_path: /assets/images/imdb.png
    title: "IMDB sentiment analysis with Bayesian SVC"
    excerpt: "How to classify texts using Bayesian features and support vector machines."
    url: /bayesian-features-machines/
  - image_path: /assets/images/citadel.png
    title: "How we won the UC Berkeley DataOpen"
    excerpt: "Overview of our experience and advice
    for future competitors"
    url: /winning-a-dataopen/
  - image_path: /assets/images/Monkey-typing.jpg
    title: "CS interviews preparation"
    excerpt: "Clearing computer science interviews, without being a computer scientist."
    url: /preparing-computer-science-interviews/

feature_row_2:
  - image_path: /assets/images/dev_PCA.png
    title: "PCA in image recognition"
    excerpt: "Visualise how principal components analysis can help to classify images"
    url: /PCA-for-image-classification/
  - image_path: /assets/images/devanagari-1-reduced.png
    title: "Characters recognition with Keras and TensorFlow"
    excerpt: "A beginner's guide to Devanagari characters recognition with Keras"
    url: /characters-recognition-with-keras/
  - image_path: /assets/images/svc.png
    title: "Specializing a CNN using SVC"
    excerpt: "Transfer learning by replacing the last layers of a neural network with a support vector classifier"
    url: /neural-networks-specialization/
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row_1" %}

{% include feature_row id="feature_row_2" %}
