---
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.2"
  overlay_image: /assets/images/header.jpg
  cta_label: "Resources"
  cta_url: "https://github.com/PForet/ML-hack.git"
excerpt: Machine learning, statistics and finance, made easy.
intro: 
  - excerpt: "We believe that knowlegde isn't centralized. In the open-source community, each idea, formula or piece of code is an opportunity to learn and discuss. We hope that you will find ours as clear, relevant and innovative as we want them to be."
feature_row:
  - image_path: assets/images/post_picture_1.jpg
    title: "Post exemple 1"
    excerpt: "Website in construction, this is a post example"
  - image_path: /assets/images/post_picture_3.jpg
    title: "Post exemple 2"
    excerpt: "Website in construction, this is a post example"
    url: /2017/12/17/post-exemple
    btn_label: "See more"
    btn_class: "btn--primary"
  - image_path: /assets/images/post_picture_2.jpg
    title: "Post exemple 3"
    excerpt: "Website in construction, this is a post example"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}